@media (max-width: 380px) {
    .header-content__title {
        font-size: 4rem;
    }

    .newsletter__title {
        max-width: 16rem;
        margin: 1.5rem auto;
    }

    
}

@media (max-width: 576px) {
    
}

@media (min-width: 768px) {

    .nav__btn,
    .nav-menu {
        display: none;
    }

    .menu {
        display: flex;
    }
    .newsletter {
        flex-direction: row;
    }
    .newsletter__content {
        flex-basis: 65%;
        text-align: left;
        padding-right: 5rem;
    }
    .newsletter__banner {
        flex-basis: 35%;
    }
    .newsletter::before {
        top:-5rem;
        left: -40rem;
        width: auto;
        height: auto;
        background-size: auto;
        background-position: center left;
       
      }
    .footer__right {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer__scroll {
        left: auto;
    }

}

@media (min-width: 992px) {
    .nav__links {
        display: block;
    }

    .header-content__caption {
        max-width: 52rem;
    }
    .newsletter__content {
        padding-right: 8rem;
    }
    .newsletter::before {
        top:-10rem;
        left: -30rem;
      }
    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__left {
        flex: 1 40%;
        margin-right: 6rem;
        
    }

    .footer__right {
        flex: 1 50%;
    }

    .footer__app {
        flex: 1 100%;
    }
}

@media (min-width: 1200px) {
    .header {
        min-height: 80rem;
    }
    .newsletter {
        padding: 3rem 10rem;
    }
    .newsletter::before {
        top:-15rem;
        left: -15rem;
      }

    
}

@media (min-width: 1400px) {}